@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Montserrat:ital,wght@0,400;0,600;1,300&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: auto;
}

html,
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  background-color: azure;
  font-family: "Montserrat", sans-serif;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.containerOne {
  width: 50%;
  min-height: 750px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 255);
  border-radius: 25px;
  padding: 5%;

  /* Adjustments for responsiveness */
  @media (max-width: 768px) {
    width: 80%;
    margin-bottom: 0; /* Remove bottom margin */
  }
}

.containerOne .headingOne {
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-top: 2%;
}

.headingOne {
  padding-bottom: 18%;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 24vh;
  max-width: 200px;
  border-radius: 50%;
  color: #fff;
  background-color: #3333cc;
  position: relative;
  margin-top: 4%;
}

.circle span {
  font-size: 4em;
  font-weight: bold;
  padding-top: 20px;
}

.circle p {
  font-size: 1.5em;
  padding: 10px;
}

.footer {
  width: 100%;
  height: 46%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  letter-spacing: 0.1rem;
  margin-top: 10%;
  margin-bottom: 4%;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 2%;
  }
}

.footer h1 {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1%;
}

.textWrapper span {
  margin-top: 10px;
  text-align: center;
}

.containerTwo {
  background-color: azure;
  flex: 1;
  width: 35%;
  min-height: 84vh;
  position: relative;
  box-shadow: 17px 4px 31px -7px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 17px 4px 31px -7px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 17px 4px 31px -7px rgba(0, 0, 0, 0.53);
  border-radius: 40px;
  margin-top: 65px;
  margin-right: 35px;

  /* Adjustments for responsiveness */
  @media (max-width: 768px) {
    width: 80%;
    margin-top: 20px; /* Remove top margin */
  }
}

.containerTwo h1 {
  position: absolute;
  left: 20px;
  top: 20px;
  margin-bottom: 4%;
}

.bannerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
  align-items: center;
  margin-top: 140px;
  margin-right: 40px;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.BannerOne,
.BannerTwo,
.BannerThree,
.BannerFour {
  border: 1px solid transparent;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 80%;
  max-width: 350px;
  height: 66px;
}
.BannerOne:hover,
.BannerTwo:hover,
.BannerThree:hover,
.BannerFour:hover,
button:hover {
  cursor: pointer;
}
.BannerOne {
  background-color: rgb(248, 229, 232);
}
.BannerTwo {
  background-color: rgb(242, 247, 188);
}
.BannerThree {
  background-color: rgb(231, 251, 231);
}
.BannerFour {
  background-color: rgb(235, 242, 255);
}

.BannerOne h4,
.BannerTwo h4,
.BannerThree h4,
.BannerFour h4 {
  position: absolute;
  left: 50px;
  bottom: 15px;
}
.BannerOne h4 {
  color: rgb(250, 106, 130);
}
.BannerTwo h4 {
  color: orange;
}
.BannerThree h4 {
  color: rgb(41, 243, 182);
}
.BannerFour h4 {
  color: rgb(47, 12, 245);
}

.BannerOne span,
.BannerTwo span,
.BannerThree span,
.BannerFour span {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.BannerOne img,
.BannerTwo img,
.BannerThree img,
.BannerFour img {
  position: absolute;
  left: 14px;
  bottom: 15px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.buttonContainer button {
  width: 80%;
  height: 76px;
  border-radius: 50px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1em;

  padding: 0;
  margin: 0;
}

.buttonContainer button::after {
  outline: none;
}

.attribution {
  position: absolute;
  bottom: 50px;
  right: 40%;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .containerOne,
  .containerTwo {
    width: 100%;
  }

  .containerTwo {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .containerOne,
  .containerTwo {
    width: 80%;
    margin: 0 auto;
  }

  .containerTwo {
    margin-top: 50px;
  }
}
